{%- liquid
  assign bti_video_title = title | default: 'BlueTex video'
  assign bti_poster_alt = poster_alt | default: bti_video_title
-%}

{%- if embed_url != blank -%}
  <div class="bti-video" data-bti-video data-bti-video-title="{{ bti_video_title | escape }}" data-bti-video-embed="{{ embed_url | escape }}">
    {%- if poster != blank -%}
      {{
        poster
        | image_url: width: 1400
        | image_tag:
          loading: 'lazy',
          widths: '480, 720, 960, 1200, 1400',
          sizes: '100vw',
          alt: bti_poster_alt
      }}
    {%- endif -%}
    <button class="bti-video__button" type="button" data-bti-video-button aria-label="Play {{ bti_video_title | escape }}">Play</button>
  </div>
{%- endif -%}
